.main-row {
    height: 100%;
}
.panel-container {
    max-width: 100%;
}
.header-nav-link {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.nav-link {
    background: 0 0;
    border: 0;
    border-radius: 0.25rem;
    color: #007bff;
    outline: none;
}

.col-10 {
    background-color: #f7f7f7;
}

.tab-name-row {
    background-color: #f0f0f0;
    border-color: #dee2e6;
}

.tab-table-row {
    background-color: #ffffff;
    border-color: #dee2e6;
}

h4 {
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}