<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>New User</title>
</head>
<body>
<div align="center">
  <h1>New User</h1>

  <form th:action="@{/admin/saveUser}" method="post" th:object="${user}">
    <input type="hidden" name="_method" value="patch">
    <table border="1" cellpadding="5">
      <tr>
        <td><label for="username">Username:</label></td>
        <td><input th:field="*{username}" type="text" id="username"/>
          <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div></td>
      </tr>
      <tr>
        <td><label for="password">Password:</label> </td>
        <td><input th:field="*{password}" type="password" id="password"/>
      </tr>
      <tr>
        <td><label for="email">E-mail:</label> </td>
        <td><input th:field="*{email}" type="text" id="email"/>
          <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div></td>
      </tr>
      <tr>
      <p>
        <label>Roles:
          <input type="checkbox" name="roles"
                 th:each="role : ${allRoles}"
                 th:text="${role.name}"
                 th:value="${role.id}"
          />
        </label>
      </p>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Save New User"></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>