<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" >
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div align="center">
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>E-mail</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        <tr th:object="${user}">
            <td><p th:text="*{id}"/></td>
            <td><p th:text="*{firstName}"/></td>
            <td><p th:text="*{lastName}"/></td>
            <td><p th:text="*{age}"/></td>
            <td><p th:text="*{email}"/></td>
            <td><p th:each="role :*{roles}" th:text="${role.name}"/></td>
            <td>
                <a th:href = "@{/logout}">Logout</a>
            </td>
        </tr>
    </table>
</div>
<div align="center" th:object="${user}">
    <h2> <span th:text="*{firstName}">User</span>, welcome to the User part of Spring Security application!</h2>
</div>
</body>
</html>